//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit
import Swinject

protocol {{ prefix }}{{ module_info.name }}Builder {
  func getViewController() -> {{ prefix }}{{ module_info.name }}ViewImpl!
}

class {{ prefix }}{{ module_info.name }}BuilderImpl: {{ prefix }}{{ module_info.name }}Builder {

  let container = Container()

  func getViewController() -> {{ prefix }}{{ module_info.name }}ViewImpl! {

    container.register({{ prefix }}{{ module_info.name }}Interactor.self) { _ in
      let interactor = {{ prefix }}{{ module_info.name }}InteractorImpl()
      return interactor
    }

    container.register({{ prefix }}{{ module_info.name }}ViewImpl.self) { _ in
      {{ prefix }}{{ module_info.name }}ViewImpl(nibName: "{{ prefix }}{{ module_info.name }}View", bundle: Bundle(for: {{ prefix }}{{ module_info.name }}ViewImpl.self))
      }.initCompleted { resolver, service in
        service.presenter = resolver.resolve({{ prefix }}{{ module_info.name }}Presenter.self)
    }

    container.register({{ prefix }}{{ module_info.name }}Router.self) { resolver in
      let router = {{ prefix }}{{ module_info.name }}RouterImpl()
      router.viewController = resolver.resolve({{ prefix }}{{ module_info.name }}ViewImpl.self)
      return router
    }

    container.register({{ prefix }}{{ module_info.name }}Presenter.self) { resolver in
      let presenter = {{ prefix }}{{ module_info.name }}PresenterImpl()
      presenter.view = resolver.resolve({{ prefix }}{{ module_info.name }}ViewImpl.self)
      presenter.interactor = resolver.resolve({{ prefix }}{{ module_info.name }}Interactor.self)
      presenter.router = resolver.resolve({{ prefix }}{{ module_info.name }}Router.self)
      return presenter
    }

    return container.resolve({{ prefix }}{{ module_info.name }}ViewImpl.self)!
  }

  deinit {
    container.removeAll()
  }

}
