//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

protocol {{ prefix }}{{ module_info.name }}Presenter {
  func present()
}

class {{ prefix }}{{ module_info.name }}PresenterImpl: {{ prefix }}{{ module_info.name }}Presenter {

  weak var view: {{ prefix }}{{ module_info.name }}View!
  var interactor: {{ prefix }}{{ module_info.name }}Interactor!
  var router: {{ prefix }}{{ module_info.name }}Router!

  func present() {
    let viewModel = {{ prefix }}{{ module_info.name }}ViewModel(title: "{{ module_info.name }}")

    view?.display(viewModel)
  }

}
