//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

protocol {{ prefix }}{{ module_info.name }}Router {

}

class {{ prefix }}{{ module_info.name }}RouterImpl: {{ prefix }}{{ module_info.name }}Router {

  weak var viewController: UIViewController?

}
