//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

protocol {{ prefix }}{{ module_info.name }}View: class {
  func display(_ viewModel: {{ prefix }}{{ module_info.name }}ViewModel)
}

struct {{ prefix }}{{ module_info.name }}ViewModel {
  var title: String
}

class {{ prefix }}{{ module_info.name }}ViewImpl: UIViewController, {{ prefix }}{{ module_info.name }}View {

  var presenter: {{ prefix }}{{ module_info.name }}Presenter!

  override func viewDidLoad() {
    super.viewDidLoad()
    presenter.present()
  }

  func display(_ viewModel: {{ prefix }}{{ module_info.name }}ViewModel) {
    navigationItem.title = viewModel.title
  }

}
