//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import Quick
import Nimble
@testable import {{ module_info.project_name }}

class {{ prefix }}{{ module_info.name }}ModuleBuilderSpec: QuickSpec {

  var viewController: {{ prefix }}{{ module_info.name }}View?

  override func spec() {

    viewController = {{ prefix }}{{ module_info.name }}BuilderImpl().getViewController()

    describe("After the module has been loaded") {
      it("The controller is not nil") {
        expect(self.viewController).toNot(beNil())
      }
    }
  }

}
