//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import Quick
import Nimble
@testable import {{ module_info.project_name }}

class {{ prefix }}{{ module_info.name }}InteractorSpec: QuickSpec {

}

class {{ prefix }}{{ module_info.name }}InteractorMock: {{ prefix }}{{ module_info.name }}Interactor {

}
