//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import Quick
import Nimble
@testable import {{ module_info.project_name }}

class {{ prefix }}{{ module_info.name }}PresenterSpec: QuickSpec {

  var presenter: {{ prefix }}{{ module_info.name }}PresenterImpl?
  var viewMock: {{ prefix }}{{ module_info.name }}ViewMock?
  var interactorMock: {{ prefix }}{{ module_info.name }}InteractorMock?

  override func spec() {

    beforeEach {
      let viewController = {{ prefix }}{{ module_info.name }}BuilderImpl().getViewController()
      self.viewMock = {{ prefix }}{{ module_info.name }}ViewMock()
      self.interactorMock = {{ prefix }}{{ module_info.name }}InteractorMock()

      self.presenter = viewController?.presenter as? {{ prefix }}{{ module_info.name }}PresenterImpl
      self.presenter?.view = self.viewMock
      self.presenter?.interactor = self.interactorMock!
    }

    describe("When the presenter builds the viewModel, and sends it to the view") {
      it("The viewModel will be build correctly") {
        self.viewMock?.displayMock = { viewModel in
          expect(viewModel.title).to(equal("{{ module_info.name }}"))
        }
      }
    }

    presenter?.present()
  }

}
