//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit
import Quick
import Nimble
@testable import {{ module_info.project_name }}

class {{ prefix }}{{ module_info.name }}RouterSpec: QuickSpec {

}

class {{ prefix }}{{ module_info.name }}RouterMock: {{ prefix }}{{ module_info.name }}Router {

}
