//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit
import Quick
import Nimble
@testable import {{ module_info.project_name }}

class {{ prefix }}{{ module_info.name }}ViewSpec: QuickSpec {

}

class {{ prefix }}{{ module_info.name }}ViewMock: {{ prefix }}{{ module_info.name }}View {

  var displayMock: ((_ viewModel: {{ prefix }}{{ module_info.name }}ViewModel) -> Void)?

  func display(_ viewModel: {{ prefix }}{{ module_info.name }}ViewModel) {
    displayMock?(viewModel)
  }

}
